<div class="content-block-title">Day {{dayNumber}}</div>
{{#if sensation}}
	<div class="list-block">
		<ul>
			{{#if blood}}
				<li>
				  <div class="item-content">
				    <div class="item-media"><i class="flaticon-blood8"></i></div>
				    <div class="item-inner"> 
				      <div class="item-title">Blood</div>
				      <div class="item-after"> {{blood}}</div>
				    </div>
				  </div>
				</li>
			{{/if}}

			{{#if appearance}}
				<li>
				  <div class="item-content">
				    <div class="item-media"><i class="flaticon-hospital35"></i></div>
				    <div class="item-inner"> 
				      <div class="item-title">Appearance</div>
				      <div class="item-after"> {{appearance}}</div>
				    </div>
				  </div>
				</li>
			{{/if}}					
			{{#if sensation}}
				<li>
				  <div class="item-content">
				    <div class="item-media"><i class="flaticon-circle213"></i></div>
				    <div class="item-inner"> 
				      <div class="item-title">Sensation at vulva</div>
				      <div class="item-after"> {{sensation}}</div>
				    </div>
				  </div>
				</li>
			{{/if}}	
			<li>
			  <div class="item-content">
			    <div class="item-media"><i class="flaticon-uterus"></i></div>
			    <div class="item-inner"> 
			      <div class="item-title">Vulva Swollen?</div>
			      <div class="item-after"><span class="badge">{{#if swollen}}YES{{else}}NO{{/if}}</span></div>	
			    </div>
			  </div>
			</li>
			{{#if fluidity}}
				<li>
				  <div class="item-content">
				    <div class="item-media"><i class="flaticon-ascending1"></i></div>
				    <div class="item-inner"> 
				      <div class="item-title">Discharge Fluidity</div>
				      <div class="item-after"> {{fluidity}}</div>
				    </div>
				  </div>
				</li>
			{{/if}}
			{{#if quantity}}
				<li>
				  <div class="item-content">
				    <div class="item-media"><i class="flaticon-blood10"></i></div>
				    <div class="item-inner"> 
				      <div class="item-title">Discharge Quantity</div>
				      <div class="item-after"> {{quantity}}</div>
				    </div>
				  </div>
				</li>
			{{/if}}
			<li>
			  <div class="item-content">
			    <div class="item-media"><i class="icon icon-form-gender"></i></div>
			    <div class="item-inner"> 
			      	<div class="item-title">Intercourse</div>
			      	<div class="item-after"><span class="badge">{{#if intercourse}}YES{{else}}NO{{/if}}</span></div>
			    </div>
			  </div>
			</li>
			{{#if notes}}
				<li>
				  <div class="item-content">
				    <div class="item-media"><i class="icon icon-form-comment"></i></div>
				    <div class="item-inner"> 
				      <div class="item-title">Notes</div>
				      <div class="item-after">
				      	<p> {{notes}}</p>
				      </div>
				    </div>
				  </div>
				</li>
			{{/if}}
		</ul>
	<div>
{{else}}
	<span class="fa fa-binoculars fa-5x"></span>
	<p>No Observations</p>
	<p> Tap the "+" button to add an observation</p>
{{/if}}

